<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games Inventory</title>
</head>
<body>
    <h1>Games Inventory</h1>
    <a href="/games">
        <button>Show all games</button>
    </a>
    <a href="/genres">
        <button>Show by genre</button>
    </a>
    <a href="/developers">
        <button>Show by developer</button>
    </a>
    <a href="/new_game">
        <button>Add game</button>
    </a>
    <a href="/new_genre">
        <button>Add genre</button>
    </a>
    <a href="/new_developer">
        <button>Add developer</button>
    </a>
    
</body>
</html>