<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Genre</title>
</head>
<body>
    <h1>Add a New Genre</h1>

    <form action="/genres" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required><br><br>
        <button type="submit">Add Genre</button>
    </form>
    <a href="/">
        <button>Go back</button>
    </a>
</body>
</html>
